@using System.Net.Http;
@using BLL.DTO;
@using BLL.Interfaces.IEFServices;
@using System.Text.Json;
@using System.Net.Http.Formatting;
@using Newtonsoft.Json;
@using BLL.Validators;
@using FluentValidation.Results;
@page "/api/Detail"
@page "/api/Detail/{id}"
@using Microsoft.AspNetCore.Components;
@inject IEFGameService gameService;

<h3>GetGame</h3>




